<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get A Spa
            <br />
            With Us ASAP
        </h2>
        <p>
            We want to get you in a spa as soon as possible. Since our work is custom, there is some turnaround time. Contact us today to schedule a time to check
            out our inventory and discuss the customization options. We will get you hot tubbin in no time.
        </p>
        <a href="/contact" class="cs-button-solid">Contact Us Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/hottubmain.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/hottubmain.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/hottubmain.jpg" alt="hottubmain" loading="lazy" width="2500" height="1667">
    </picture>

</section>