---
title: 'About'
description: 'About Peaceful Spas'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/hottubmain.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/hottubmain.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/hottubmain.webp" alt="hottubmain" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/inventory/inventory2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/inventory/inventory2.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/inventory/inventory2.webp" alt="spablue" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/inventory/inventory1.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/inventory/inventory1.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/inventory/inventory1.webp" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Peaceful Spas</h2>
                <p class="cs-text">
                    Peaceful Spas is family owned local business operating out of Palm Bay, Florida. We have been operating since 1999. We seek out used spas
                    and refurbish them to give them a second life. Our refurbished spas rival the quality of one that is brand new. The owner, Chad Peace, has been working 
                    on spas for over 20 years
                </p>
                <p class="cs-text">
                    We custom build our spas to meet our customers exact needs. Brand new spas don't offer the level of customization that we can provide. They certainly
                    can't touch our prices either. 
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        I just really like working on spas.
                    </p>
                    <span class="cs-name">Chad Peace</span>
                    <span class="cs-job">Owner</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/products" class="cs-button-solid">Our Products</a>
            </div>
        </div>
    </section>

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/chad.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/chad.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/chad.webp" alt="spablue" loading="lazy" width="400" height="560">
                </picture>
                <!-- <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/spasilver.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/spasilver.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/spasilver.jpg" alt="spasilver" loading="lazy" width="400" height="560">
                </picture> -->
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <h2 class="cs-title">About Chad Peace</h2>
                <p class="cs-text">
                    Chad Peace is the owner of Peaceful Spas. He started working on spas as a hobby in 1999. In 2002, he founded Peaceful Spas and was able to 
                    transition to working on spas full time. He is passionate about spas and finds a lot of joy in working on and customizing them. He is from Palm Bay
                    Florida and loves serving his local community.
                </p>
            </div>
        </div>
    </section>


    {% include 'components/cta.html' %}

{% endblock %}