---
title: 'Products'
description: 'Peaceful Spas Products'
permalink: 'products/'
eleventyNavigation:
    key: Products
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/inventory.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Products</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/hottubmain.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/hottubmain.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/hottubmain.webp" alt="hottubmain" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa1.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa1.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa1.webp" alt="spa1" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa24.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa24.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa24.webp" alt="spa2" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa10.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa10.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa10.webp" alt="spa3" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa14.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa14.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa14.webp" alt="spablue" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa19.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa19.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa19.webp" alt="spa4" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa5.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa5.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa5.webp" alt="spa5" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa6.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa6.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa6.webp" alt="spa6" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa12.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa12.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa12.webp" alt="spa12" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa16.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa16.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa16.webp" alt="spa7" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa26.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa26.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa26.webp" alt="spa8" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa25.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa25.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa25.webp" alt="spa9" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa22.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa22.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa22.webp" alt="spa10" loading="lazy">
                    </picture>
                    <!-- <p class="custom-caption">Spa</p> -->
                </div>
            </div>
            <!-- <a href="/contact" class="cs-button-solid">Cont</a> -->
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}