---
title: 'Reviews'
description: 'Peaceful Spas Reviews'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <a href="https://www.google.com/search?rlz=1C5CHFA_enUS985US985&sxsrf=AB5stBgtU0BgPay7ZEvfpmhtp_1r3FJE0g:1689728647181&q=Peaceful+spas+reviews&uds=GzIA-EUnh23fkm95gEUWaGCtdyObkJKPBsERVXASGpYV_YI-3ar4MZAG&sa=X&ved=2ahUKEwiqpKDeyZmAAxWOFFkFHde7B6YQxKsJegQIAxAB&ictx=0&biw=1728&bih=869&dpr=2#lrd=0x88de129f24195555:0xc85d842eb7e2e8ef,1,,,,">blah</a>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/hottubmain.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/hottubmain.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/hottubmain.webp" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    They Definitely honor their warranty. After our spa was delivered I noticed there was a leak that I could not correct and let them know. They sent two techs out to repair it but decided it had to go back to the shop. They then came out and picked it up, repaired it and delivered and set it back up today in time for my wifes return home from Ohio this evening. I live 85 miles from their shop. A+++ company that I feel you just can't go wrong by giving them your business. I'd also like to add that this is the nicest hot tub we have ever owned out of 3 total over 20 years.                </p>
                <div class="star-group">
                    <span class="name">Bill T.</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Purchased reconditioned hot tub at a reasonable price several years ago. Great way to relax and do morning exercises. Very satisfied with the hot tub and delivery. Chad has always been very quick to respond to questions and give advice on our tub. Would highly recommend his service.
                </p>
                <div class="star-group">
                    <span class="name">Kathleen W.</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Have one of their spas for five years and no problems.  Called with a concern and quickly resolved my issue.  Of course, operator error on my part.  Very happy with our spa and the courteous service when needed.                </p>
                <div class="star-group">
                    <span class="name">James F.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    All I have to say. Is that Chad, went way beyond our expectations. He put everything we wanted into our hot tub. The sound system alone is amazing. So, to all you people out there. Looking for a hot tub. Don’t buy it new! Call Chad. Once again. Thank you for everything Chad.
                </p>
                <div class="star-group">
                    <span class="name">David W.</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    We had a very positive experience with Peaceful Spas.  When my husband & I visited the place we were shown several options in the size-price range we were looking for.  All of our questions were answered, and we felt very confident purchasing our hot tub here.
                    Delivery and set up went smoothly.   We are so glad we discovered Peaceful Spas!   We saved a lot of money, and are enjoying a quality hot tub with new components (heater, control panel, etc), as well as a warranty, and it looks brand new too.   If you are thinking about purchasing a hot tub give them a call.  Highly recommend them.                </p>
                <div class="star-group">
                    <span class="name">Lucy R.</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Chad and his team are top notch. I purchase a Spa 3 years ago and my experience with Chad, his wife have always been responsive to me any time I call. Service is excellent after the sale and always takes my phone call and answers all questions and concerns.
                    In todays hustle and push button service centers it is truly refreshing to do business with a professional who cares about the client.                </p>
                <div class="star-group">
                    <span class="name">John S.</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}