---
title: 'What We Do'
description: 'Peaceful Spas What We Do'
permalink: 'whatwedo/'
eleventyNavigation:
    key: What We Do
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/whatwedo.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">What We Do</h1>
        <p class="cs-text">
            At Peaceful Spas, we fully refurbish our spas from the bottom up. Here are some pictures of our process.
        </p>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/hottubmain.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hottubmain.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hottubmain.jpg" alt="hottubmain" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo2.jpg" alt="spa1" loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo3.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo3.jpg" alt="spa2" loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo4.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo4.jpg" alt="spa3" loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo5.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo5.jpg" alt="spablue" loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo6.jpg" alt="spa4" loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo7.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo7.jpg" alt="spa5" loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo8.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo8.jpg" alt="spa6" loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo9.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo9.jpg" alt="spa12" loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo10.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo10.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo10.jpg" alt="spa7" loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo11.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo11.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo11.jpg" alt="spa8" loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/whatwedo/whatwedo12.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/whatwedo/whatwedo12.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/whatwedo/whatwedo12.jpg" alt="spa9" loading="lazy">
                    </picture>
                </div>
            </div>
            <!-- <a href="/contact" class="cs-button-solid">Cont</a> -->
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}