---
title: 'Peaceful Spas'
description: 'Custom Built Refurbished Spas in Central Florida'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <!-- <span class="cs-topper">Peaceful Spas</span> -->
                <h1 class="cs-title">Peaceful Spas</h1>
                <p class="cs-text">
                    Local business providing refurbished spas. Owned and operated out of Brevard County Florida.
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    Contact Us
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/hottubmain.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hottubmain.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hottubmain.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service1.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Custom Refurbished Spas</h2>
            <p>At Peaceful Spas, we give used spas a new life. We refurbish used spas and custom build them to our customers exact needs.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Spa Maintenance</h2>
            <p>We offer to service our customer's spas after purchase. We will come to you and assist with any repairs or maintenance.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/tag.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>New Spa Dealer</h2>
            <p>
                We assist our customers in process of getting brand new spas delivered to their homes. Our team is very knowledgable about spas and 
                we will help you find the right spa for your needs
            </p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/spablue.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/spablue.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/spablue.jpg" alt="spablue" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/spasilver.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/spasilver.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/spasilver.jpg" alt="spasilver" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Peaceful Spas</h2>
                <p class="cs-text">
                    Peaceful Spas is family owned local business operating out of Palm Bay, Florida. We have been operating since 1999. We seek out used spas
                    and refurbish them to give them a second life. Our refurbished spas rival the quality of one that is brand new. The owner, Chad Peace, has been working 
                    on spas for over 20 years
                </p>
                <p class="cs-text">
                    We custom build our spas to meet our customers exact needs. Brand new spas don't offer the level of customization that we can provide. They certainly
                    can't touch our prices either. 
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        I just really like working on spas.
                    </p>
                    <span class="cs-name">Chad Peace</span>
                    <span class="cs-job">Owner</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/spablue.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/spablue.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/spablue.jpg" alt="spablue" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/spasilver.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/spasilver.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/spasilver.jpg" alt="spasilver" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <h2 class="cs-title">Custom Used/Refurbished Spas</h2>
                <p class="cs-text">
                    The spas that we sell are custom built to our customers needs. There are tons of different customization options. We strive to exceed our customers 
                    expectations. We have a wide variety of seating configurations from 2 person to 10 person. We will work with you to find the right configuration and
                    then we will help you decide how to customize it. On top of all of this, our prices are unbeatbale. Some of the popular customization options are:
                </p>
                <p>
                    <ul class="cs-text">
                        <li class="cs-text">Custom jet locations</li>
                        <li class="cs-text">Custom LED light configurations</li>
                        <li class="cs-text">Sound Systems</li>
                        <li class="cs-text">WIFI Controller</li>
                        <li class="cs-text">Stainless steel jets</li>
                        <li class="cs-text">Choice of color for the siding</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our inventory</span>
            <h3 class="cs-title">Take a look at some of our inventory and previously sold custom spas.</h3>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa1.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa1.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa1.jpeg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa4.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa4.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa4.jpeg" alt="spa4" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/spa7.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/spa7.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/spa7.jpeg" alt="spa7" loading="lazy" width="400" height="560">
                    </picture>
                </div>
            </div>
            <a href="/inventory" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                At Peaceful Spas, our customers are our top priority. We want to hear from you so that we can improve and serve you better.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/svgs/profile-woman.svg"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Purchased reconditioned hot tub at a reasonable price several years ago. Great way to relax and do morning exercises. Very satisfied with the hot tub and delivery. Chad has always been very quick to respond to questions and give advice on our tub. Would highly recommend his service.                    </p>
                    <span class="cs-reviewer">
                        Kathleen Whitman
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/svgs/profile.svg"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        All I have to say. Is that Chad, went way beyond our expectations. He put everything we wanted into our hot tub. The sound system alone is amazing. So, to all you people out there. Looking for a hot tub. Don’t buy it new! Call Chad. Once again. Thank you for everything Chad.                    </p>
                    <span class="cs-reviewer">
                        David Willoughby
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}